ion-toolbar {
    --background: #6D60F8;

}

ion-content {
    --background:#6D60F8;

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10vh;

        img {
            background-color: #6D60F8;
            width: 85vh;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }

    }
 
    

    form {
        margin-top: 15px;
        padding-left: 5vh;
        padding-right: 5vh; 

        ion-item {
            border-radius: 15px !important;
            align-content: center;
        }
        
        ion-input { 
            --padding-start: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
        }

        #spacer {
            height:0px;
            margin-bottom: 25px;

        }
        

        ion-button {
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
            width: 25vh;
            height: 40px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;

        }




    }

    
}