<ion-header class="menu-header">
  <ion-item class="ion-text-center menu-item">
    <ion-label slot="start" class="menu-label">
      <ion-text>Menu</ion-text>
    </ion-label>
  </ion-item>
</ion-header>
 
<ion-content class="ion-content-center menu-content">
  <ion-item lines="none" class="menu-item">
    <ion-buttons slot="start" class="menu-buttons">
      <ion-button class="menu-button" ion-button (click)="logout()">
        <ion-text>Logout</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>