#heading {
    margin: 0px;
    align-items: end;
    background-color: #345667;
    font-size: 25px;
    border: none;
}

ion-item {
    --border-style: none;
    justify-content: center;
}

ion-label {
    justify-content: center;
}
