ion-item {
  --width:200px
}

ion-text {
  color: white;
}
  .menu-arrow {
      display: none;
  }

  .menu-content {
      --background: #6D60F8;

      justify-items: center;
      align-items: center;
      --background:
      width: 100%;
      height:250px;
  }

  .menu-icon {
      --background: #6D60F8;
  }

  img {
      --background: #6D60F8;
  }

  .menu-button-text {
      background-color: #6D60F8;

  }

  .menu-buttons {
      --background: #6D60F8;

  }
  .menu-button {
      --background: #6D60F8;

  }

  .menu-label {

      color:white;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .menu-item {
      --background: #6D60F8;

  }

  img {
      width: 30px;
      height: 30px;
  }
