<ion-header class="menu-header">
  <ion-item class="ion-text-center menu-item">
    <ion-label slot="start" class="menu-label">
      Menu
    </ion-label>
  </ion-item>
</ion-header>
 
<ion-content class="ion-content-center menu-content">
  <ion-item lines="none" class="menu-item">
    <ion-buttons slot="start" class="menu-buttons">
      <button  class="menu-button" ion-button (click)="logout()">
        <ion-row>
          <ion-col class="menu-icon"><img src="assets/icon/tasker.png"></ion-col>
          <ion-col class="menu-button-text">Logout</ion-col>
        </ion-row>
      </button>
    </ion-buttons>
  </ion-item>
</ion-content>