
#dateBox {
  margin-left: 8px;
}

#deadlineText {
  margin-left:20px;
}

#calendar-trigger {
  padding-top:8px;
  margin-top:8px;
  width:32px;
  height: 32px;
  float:right;
  margin-right:16px;
}

#up {
  --background: #6D60F8;
  width:100%;
}

#title-text-item {

  width:100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#up2 {
  --background: #6D60F8;
  width:100%;


}
#date {
  color: white;
}

h1 {
  color: white;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  font-family: Roboto normal, sans-serif;
  font-size: 33px;
}

button {
  margin-top: 20px;
}

h2 {
  color: white;
  padding-bottom: 55px;
  font-family: Roboto thin, sans-serif;
  font-size: 19px;
  padding-left: 120px;
  padding-right: 120px;
}

h3 {
  color: black;
  text-align: left;
  font-family: Roboto Bold, sans-serif;
  font-size: 24px;
  font-weight: bold;

}

#title-text-item  {
  color: black;
  text-align: left;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: lighter;
}

p {
  color: black;
  font-family: sans-serif;
  font-size: 16px;
}

#filters {
  --background: #6D60F8;

}
ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: white;
  width: 100%;
  padding-top: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  --background: #6D60F8;
}

#modifyPage{
  background-color:white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
ion-back-button {
  color:#FFFFFF;
  margin-right: 35px;

}

ion-toggle {
  font-size:8px;
  height:32px;
  --handle-background-checked:blue;
}

#selector {
  font-size:6px;
}

#selector2 {
  float:right;
}



ion-button {
  margin-bottom:24px;
  margin-top:24px;
  margin:12px;
  border-radius: 10px;
  width: 360px;
}

#datepicker {
  width: 25%;
}

#box {
  align-items: center;
  padding: 5px;
  width: 360px;
  box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 6px 1px;
  margin-left:12px;
  margin-bottom:150px;
}

ion-menu-button {
  height:30px;
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.7) 0px 3px 9px 0px;
}

#datepicker {
  width: 25%;
}

#buffer {
  padding:32px;
  margin:32px;
}
