<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false" (click)="openMenu($event)">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="content-title-div">
    <ion-text id="page-title-text">Task details</ion-text>
    <br>
    <ion-text id="date">{{today | date:'fullDate'}}</ion-text>
  </div>

  <div id="task-details-div">

    <ion-item>
      <ion-text #title id="title-text-box">{{task.title}}</ion-text>
    </ion-item>

  <div id="box-shadow">
    <ion-item>
      <ion-label position="stacked" id="content-box" class="task-item-text">Details</ion-label>
      <ion-textarea #content [attr.rows]="6" id="content-text-box" placeholder={{task.content}}></ion-textarea>

      <ion-label position="stacked" id="date-box" class="task-item-text">Deadline</ion-label>
      <ion-input #date clearInput placeholder={{task.lastUpdated}}></ion-input>
    </ion-item>
  </div>
    <!--<ion-item id="datepicker">
      <ion-input [value]="dateValue2"></ion-input>
      <ion-button fill="clear" id="open-date-input-2">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button>
      <ion-popover trigger="open-date-input-2" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverDatetime2
            presentation="date"
            (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>-->
      <ion-button expand="block" (click)="nextpage()" >
        Cancel
      </ion-button>
      <ion-button expand="block" (click)="addItem(title.value, content.value, date.value)" (click)="nextpage()">
        Save changes
      </ion-button>
  </div>
</ion-content>






