<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <button id="menubutton" (click)="openMenu($event)">
        MENU
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="content-title-div">
    <ion-text id="page-title-text">Task details</ion-text>
    <br>
    <ion-text id="date">{{today | date:'fullDate'}}</ion-text>
  </div>

  <div id="task-details-div">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input #title clearInput [(ngModel)]="task.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Content</ion-label>
      <ion-input #content clearInput [(ngModel)]="task.content"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Deadline</ion-label>
      <ion-input #date clearInput [(ngModel)]="task.lastUpdated"></ion-input>
    </ion-item>
    <ion-item id="datepicker">
      <!--<ion-input [value]="dateValue2"></ion-input>-->
      <ion-button fill="clear" id="open-date-input-2">
        <ion-icon icon="calendar"></ion-icon>
      </ion-button>
      <!--<ion-popover trigger="open-date-input-2" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverDatetime2
            presentation="date"
            (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
          ></ion-datetime>
        </ng-template>
      </ion-popover>-->
    </ion-item>
    <ion-text id="status-title">Status</ion-text>
    <br>
    <ion-text id="show-status">{{this.task.done}}</ion-text>
    <br>
      <ion-button (click)="nextpage()" expand="full">
        Cancel
      </ion-button>
      <ion-button class="ion-margin" expand="block" (click)="addItem(title.value, content.value, date.value)" (click)="nextpage()">
        Save changes
      </ion-button>
  </div>
</ion-content>






