// MENU-PALKKI

ion-toolbar {
    --background: #6D60F8;
    margin-top: 10px;
    --border-style: none;

    ion-menu-button {
        font-size:32px;
        margin-left: 20px;
        margin-right: 25px;
        color:#FFFFFF;
    }
    ion-text {

        align-self: center;
        font-family: Roboto Regular, sans-serif;
        font-size: 33px;
        color:#FFFFFF;
    }
    ion-back-button {
        color:#FFFFFF;
        margin-right: 35px;

    }
}

//MUU SISÄLTÖ
ion-content {
    --background: #6D60F8;
    width: 100%;
    text-align: center;
    align-content: center;
    --border-style: none;

    //OTSIKKO-RIVI
    #page-title-text {
        --border-style: none;
        --background: #6D60F8;
        text-align: center;
        font-family: Arial Regular, Helvetica, sans-serif;
        font-size: 19px;
        color: white;

        margin-top: 5px;
    }
h2 {
    font-size: 19px;
        font-family: Roboto Light, Helvetica, sans-serif;
        margin-left: 38px;
        padding-bottom: 18%;
        color:#FFFFFF;
}
    //PÄIVÄMÄÄRÄ
    #date-today {
        --background: #6D60F8;
        --border-style: none;
        text-align: center;
        font-size: 19px;
        font-family: Roboto Light, Helvetica, sans-serif;
        margin-top: -5,5%;
        margin-left: 50px;
    }

    //MASS-DELETE
    #delete-div {
        --background: #6D60F8;
        --border-style: none;
        margin-bottom:12px;

        #del-text {
            font-size: 11px;
            color: white;
        }
        #deleteMode {
            padding-left: 0;
            width: 25%;
            --background-checked: #a02828;

        }

        }


    //TASK-LIST
    #task-list-div {
        --border-style: none;
        background-color: #FFFFFF;
        width: 100%;

        height: 80%;
        border-radius: 25px 25px 0px 0px;




        //SORTING ICON NAME
        .sort-label {
            margin-right: 10%;
            font-size: 15px;
            --background: white;
            color: #333333;
            --border-style: none;
        }

        //SORTING ROW
        #task-sort-item {
            padding: 0;
            margin:none;
            border-radius: 25px;
            --background: white;

            --border-style: none;
        }

        //ID:T SORTTAUS ICONIEN MUUTTAMISTA VARTEN
        #nameHolder, #dateHolder {
            --border-style: none;
        }

        //YKSITTÄINEN TASK
        .task-list-item {
            margin: 5% 5%;
            height: 60px;
            border-radius: 10px;
            --background: #ffffff;
            --border-style: none;
            box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 6px 0px;

            //NAPPI TASK DETAILSIIN
            .task-item-button {
                --background: #ffffff;
                margin-bottom: 100px;
                width: 100%;
                align-items: left;
                text-align: left;
                height: 50px;
                box-shadow: none;
            }

            .taskTitle {
              text-align: left;
              padding-left:0px;
              margin-left:0px;
            }

            .task-item-label {
              text-align: left;
              padding-left:0px;
              margin-left:-10px;
            }

            .task-item-label {
                --background: #ffffff;
                width: 100%;
                text-align: left;
                height: 25px;

                .title {

                    font-size: 16px;
                    font-weight: bold;
                    color:#333333;
                    font-family: Arial, sans-serif;
                }

                .task-details {

                    font-size: 10px;
                    color:#333333;
                    font-family: Arial, sans-serif;
                    font-weight: normal;
                    font-size: 14px;
                }
            }
        }




    }

    }
 ion-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: none;
 }

ion-text {
    color: white;
    --border-style: none;
}

ion-row {
    --background: #6D60F8;
    width:100%;
    padding:none;
    --border-style: none;
}
ion-col {
    padding: none;
    --border-style: none;
}

ion-card-content {

    margin-bottom:28px;
    margin-top:24px;
    background: #3f38cf;
    border-radius: 10px;
    width: 100%;
    color:#FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 21px;




}


.delete-button {
    --background: #ffffff;
    color:#3833a3;
    height: 25px;

}

#add-task-modal {
    padding-top: 15%;
    padding-bottom: 15%;

}

#add-task-calendar {
    height: 70%;
}

#open-modal {
  margin-bottom:24px;
  margin-top:24px;
  background:#2e2a85;
  border-radius: 10px;
  width: 360px;
}

.cancelButton {
  margin:12px;
}

.buttonOpened {
  margin:12px;
  margin-bottom:36px;
}
