<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button id="menubutton" auto-hide="false" (click)="openMenu($event)">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item id="page-title-text">
    <ion-text>Your schedule</ion-text>
  </ion-item>
  <ion-item id="date-today">
    <ion-text>{{today | date:'fullDate'}}</ion-text>
  </ion-item>

  <ion-item id="filter-div"><ion-button id="open-filters">

       <ion-text>Filters</ion-text>

      <ion-modal id="filter-modal" trigger="open-filters">
        <ng-template id="filters-tempale">
          <ion-item><ion-text class="filter-text">Active</ion-text><ion-toggle></ion-toggle> <ion-text class="filter-text">All</ion-text></ion-item>
            <ion-item>
              <ion-textarea #content placeholder="Enter keyword"></ion-textarea>
            </ion-item>
            <!--Tähän kalenteri, josta voi valita etsittävän päivän ja ehkä valinta "ennen, tänä päivänä, jälkeen"-->
            
            <ion-list>
              <ion-radio-group value="biff">
            
                <ion-item class="radio-item">
                  <ion-label class="radio-label">Biff</ion-label>
                  <ion-radio slot="start" value="biff"></ion-radio>
                </ion-item>
            
                <ion-item class="radio-item">
                  <ion-label class="radio-label">Griff</ion-label>
                  <ion-radio slot="start" value="griff"></ion-radio>
                </ion-item>
            
                <ion-item class="radio-item">
                  <ion-label class="radio-label">Buford</ion-label>
                  <ion-radio slot="start" value="buford"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>

          
          </ng-template>
      </ion-modal>

  </ion-button></ion-item>

<!--Task-lista-->
  <div id="task-list-div">

      <ion-item class="task-list-item" *ngFor="let t of tasks">
        <ion-row>
          <ion-col size="10">
          <ion-button class="task-item-button" (click)="goEditTask(t.id)">
            <ion-row>
              <ion-col>
                <ion-row>
                <ion-label class="task-item-label"><ion-text class="title">{{ t.title }}</ion-text></ion-label>
                </ion-row>
                <ion-row>
                  <ion-label class="task-item-label"><ion-text>{{ t.lastUpdated }}</ion-text></ion-label>
                </ion-row>
                <ion-row>
                  <ion-label class="task-item-label">{{ t.content }}</ion-label>
                </ion-row>
              </ion-col>
            </ion-row>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button class="delete-button" (click)="presentAlertConfirm(t.id, t.title)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-item>

<!--Taskin lisäys popup-->
    <ion-button id="open-modal">
      <ion-card id="textarea">
        <ion-card-subtitle>
          Add new task
        </ion-card-subtitle>
        <ion-modal id="add-task-modal" trigger="open-modal">
          <ng-template id="add-task-modal">

              <ion-item>
                <ion-textarea #title placeholder="Add task title"></ion-textarea>
              </ion-item>

              <ion-item>
                <ion-textarea #content placeholder="Add task details"></ion-textarea>
              </ion-item>

              <ion-item id="add-task-calendar">
                <ion-label>Due date</ion-label>
                <ion-datetime #date displayFormat="YYYY-MM-DD, HH:mm" size="cover"></ion-datetime>
              </ion-item>

              <ion-button class="cancelButton" expand="block" fill="clear" (click)="cancelItem()">Cancel</ion-button>
              <ion-button class="buttonOpened" expand="block" (click)="addItem(title.value, content.value, date.value)">Add task</ion-button>


            </ng-template>
        </ion-modal>
      </ion-card>
    </ion-button>
  </div>


</ion-content>
