#up {
    --background: #6D60F8;
}

#up2 {
    --background: #6D60F8;

}
#date {
    color: white;
}
h1 {
    color: white;
}


h2 {
    color: white;
}

#filters {
    --background: #6D60F8;

}
 #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;
    width: 100%;
    padding-top: 5vh;
    border-radius: 25px 25px ;
  
}

 ion-content {
    --background: #6D60F8;
 }

