#up {
    --background: #6D60F8;
    align-items: end;
 }

#up2 {
    --background: #6D60F8;
 }

#date {
    color: white;
 }

h1 {
    color: white;
 }


h2 {
    color: white;
 }

#filters {
    --background: #6D60F8;
 }

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    //@error: white;
    width: 100%;
    padding-top: 5vh;
    border-radius: 25px 25px ;
  
 }

ion-content {
    --background: #6D60F8;
 }

ion-nav {
    align-items: end;
    --background: #42a500;
 }

ion-buttons {
    align-items: end;
    --background: #42a500;
 }

ion-toolbar {
    align-items: end;
    --background: #42a500;
 }

ion-item {
    --backgound: #42a500;
 }

ion-label {
    --backgound: #42a500;
}

ion-header {
        --backgound: #42a500;
        opacity: 100;
}