<ion-header>

  <ion-toolbar>
    <ion-nav>
      <ion-item id="up">
        <ion-label>
          <ion-buttons>
            <button slot="end" ion-button (click)="logout()">
              LOGOUT
            </button>
          </ion-buttons>
        </ion-label>
      </ion-item>

      <ion-item id="up2">
        <ion-label>
          <h2>Today</h2>
          <p id="date">{{today | date:'fullDate'}}</p>
        </ion-label>
      </ion-item>
    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="up">
    <ion-label>
      <ion-buttons>
        <button ion-button (click)="nextpage()">TASKDETAILS</button>
      </ion-buttons>
    </ion-label>
  </ion-item>
  <h1>Your schedule</h1>
  <ion-item id="up2">
    <ion-label>
      <h2>Today</h2>
      <p id="date">{{today | date:'fullDate'}}</p>
    </ion-label>
  </ion-item>
  <ion-item id="filters"><p>tähän tulee se filter nappi</p></ion-item>


  <!--Tämän jälkeen kaikki on ihan sekaisin ja vaiheessa. pitää fiksata -->
  <div id="content">
    <ion-card *ngFor="let item of todoList">
    <ion-card-header>
       <ion-card-subtitle>
          {{item.itemName}} 
        </ion-card-subtitle>
      </ion-card-header>
     
      <ion-label id="details">{{item.itemDetails}}</ion-label>
    
    
        <ion-row>
        <ion-label id="date2">{{item.itemDate}}</ion-label>

        <!--roskakoreille toiminnalisuus eli delete täytyy luoda-->
        <ion-label><ion-button id="delete"><ion-icon name="trash-outline"></ion-icon></ion-button></ion-label>
        <ion-label><ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
      </ion-row>
    </ion-card>

    <ion-card id="textarea">

      <ion-item>
        <ion-textarea [(ngModel)]="taskName" placeholder="Write new task here"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea [(ngModel)]="taskDetails" placeholder="Write task details here"></ion-textarea>
      </ion-item>

      <!--nyt kalenteri aukeaa, vielä pitää lisätä jonkunlainen "done" 
        nappula joka vahvistaa valitut ja sulkee kalenterin samalla -->
      <ion-item>
        <ion-button id="open-modal"><ion-icon name="calendar-outline"></ion-icon></ion-button>
        <ion-label>Due date</ion-label>
        <!--Tälle css niin, että kalenteri ja
           done nappi on lähellä toisia ja taustalla esim blurrattu näkymä yourschedulepagea.
          sen lisäksi sulku nappi tarvii toiminnallisuuden että valittu aika tulee voimaan (ehkä?)
        voi olla että riittää kun tekee muuten toiminnallisuuden tälle koko cardille-->
<ion-modal trigger="open-modal">
  <ng-template>
    <ion-content>
      <ion-datetime [(ngModel)]="taskDate" displayFormat="D MMM YYYY HH:mm" sizw="cover"></ion-datetime>
    </ion-content>
    <ion-button id="close-modal">Done</ion-button>
  </ng-template>
</ion-modal>
</ion-item>

<ion-button class="ion-margin" expand="block" (click)="AddTask()">Add</ion-button>

    </ion-card>






  </div>


</ion-content>
