<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
      <ion-text id="page-title-text">Your schedule</ion-text>
      <ion-menu-button auto-hide="false" (click)="openMenu($event)">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-item id="page-title-text" id="date-today">
    <h2>{{today | date:'fullDate'}}</h2>
  </ion-item>
  

  <ion-item id="delete-div">
      <ion-text slot="end" id="del-text">Quick delete</ion-text>
      <ion-toggle [(ngModel)]="deleteMode" disabled="false" slot="end"id="deleteMode"></ion-toggle>
  </ion-item>


<!--Task-lista-->
  <div id="task-list-div">

      <ion-item id="task-sort-item">
        <ion-item id="nameHolder" (click)="sortName()"></ion-item><ion-text class="sort-label">Name</ion-text>
        <ion-item id="dateHolder" (click)="sortDate()"></ion-item><ion-text class="sort-label">Date</ion-text>

      </ion-item>


      <ion-item class="task-list-item" *ngFor="let t of tasks">
        <ion-row>
          <ion-col size="10">
          <ion-button class="task-item-button" (click)="goEditTask(t.id)">
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-col ><ion-label class="task-item-label"><ion-text class="title">{{ t.title }}</ion-text></ion-label></ion-col>
                  <ion-col><ion-label class="task-item-label"><ion-text class="task-details">{{ t.lastUpdated }}</ion-text></ion-label></ion-col>
                  <ion-label class="task-item-label"><ion-text class="task-details">{{ t.content }}</ion-text></ion-label>
                </ion-row>
              </ion-col>
            </ion-row>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button class="delete-button" (click)="presentAlertConfirm(t.id, t.title)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-item>

<!--Taskin lisäys popup-->
    <ion-button id="open-modal">
      <ion-card id="textarea">
        <ion-card-content>
          Add new task
        </ion-card-content>
        <ion-modal id="add-task-modal" trigger="open-modal">
          <ng-template id="add-task-modal">

              <ion-item>
                <ion-textarea #title placeholder="Add task title"></ion-textarea>
              </ion-item>

              <ion-item>
                <ion-textarea #content placeholder="Add task details"></ion-textarea>
              </ion-item>

              <ion-item id="add-task-calendar">
                <ion-label>Due date</ion-label>
                <ion-datetime #date presentation="date" displayFormat="YYYY-MM-DD" size="cover"></ion-datetime>
              </ion-item>

              <ion-button class="cancelButton" expand="block" fill="clear" (click)="cancelItem()">Cancel</ion-button>
              <ion-button class="buttonOpened" expand="block" (click)="addItem(title.value, content.value, date.value)">Add task</ion-button>


          </ng-template>
        </ion-modal>
      </ion-card>
    </ion-button>

  </div>


</ion-content>
