<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Create an account</h1>
    <img src="assets/icon/to-do.png" />
  </div>

  <form>
    <app-input placeholder="Choose username"></app-input>
    <app-input type="password" placeholder="Choose password"></app-input>
    <ion-button expand="block" shape="round">Create now</ion-button>
  </form>
 
  <div id="signup">
  <ion-buttons slot="end">
  <ion-button routerLink="/login">Back to login</ion-button>
</ion-buttons>
</div>

</ion-content>
