/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.no-scroll {
    --overflow: hidden;
}

/*Pudotusvalikon muotoilut tänne!*/
/*WIP!!!!!*/
.menu-popover {
    --ion-backdrop-opacity: 0.6;
    --width: 60%;
    border-radius: 10px;
    --background: #00CCCC;


    .menu-arrow {
        display: none;
    }
    
    .menu-content {
        width: calc(100% - 6px);
    }

    .menu-icon {
        width: 80px;
    }

    img {
        height: 25px;
        width: 25px;
    }

    .menu-button-text {
        width: 80px;
        padding-right: 5px;
        font-size: 20px;
        
    }

    .menu-buttons {
        --width: auto;  
    }
    .menu-button {
        --width: auto;       
    }

    .menu-header {
        --background: #00CCCC;
        --width: auto;  
    }

    .menu-label {
        --width: auto;  
        --background: #00CCCC;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .menu-item {
        --background:#CC00CC;
        --width: auto;
    }

}