<!--Home-sivulta pääsee klikkaamalla eteenpäin-->

<ion-content [fullscreen]="true">
  <div id="header">
    <img src="assets/icon/tasker.png" />
  
    <div id="signup">
      <p class="welcome_text">Welcome to</p>
      <p class="welcome_text padding">Tasker</p>
      <div class="tiny_text">Tasker helps you keep your daily</div>
      <div class="tiny_text extra_padding">tasks in order and reminds you to get things done</div>
      <div class="tiny_text">Start using the app</div>
      <ion-buttons>
        <button ion-button (click)="nextpage()">
          <h3>Get started</h3>
        </button>
      </ion-buttons>
    </div>
  </div>
</ion-content>